
 <!DOCTYPE html>
<html>
    <head>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


        </head>




<style> 
  * { font-family: DejaVu Sans, sans-serif; }

table {
  max-width: 100%; 
}
</style>
<p style="margin-left: 250px; margin-bottom: 0px">جــــدول الأوقــــــــات</p>
 <p style="margin-left: 250px; margin-bottom: 0px">  {{ emploi.dateDebut | date('d/m/Y') }}    =>          {{ emploi.datefin | date('d/m/Y') }}</p>
 <p style="margin-left: 360px; margin-bottom: 0px">  وزارة الــدفـــــاع الـوطـــنــي</p>
 <p style="margin-left: 420px; margin-bottom: 0px"> جـــيـش الــطــيــران </p>
             <p style="margin-left: 210px;">الـــمـــــســتـــوى: الشهادة الوطنية للإجازة التطبيقيـَة</p>
 <p style="margin-left: 170px;">  الإخـــتـــصـــاص: "{{ emploi.classe}}" </p>
  <p style="margin-left: 420px;">عـديد التـلامــذة: &nbsp;&nbsp;&nbsp; {{ emploi.classe.nbeleve }}</p>

   
<br><br><br>
<div ><table class="table table-bordered text-center" border="1">
        <tr style="font-size: 10px;"> <th></th>
        <th>08:05 -> 09:35</th>
        <th >09:50 -> 11:20</th>
        <th>11:25 -> 12:55</th>
        <th>13:45 -> 15:15</th>
        <th>15:25 -> 16:55</th>
        
      
         
            
           
        </tr>
<tr>
   <th style="font-size: 10px;">lundi</th>    
        {% for detail in emploi.detailsEmplois %}


 {% if detail.seance.jour == "lundi" %}
   {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>

<tr>
     <th style="font-size: 10px;">mardi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "mardi" %}
 {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th style="font-size: 10px;">mercredi</th>  
{% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "mercredi" %}
 {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}

{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th style="font-size: 10px;">jeudi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "jeudi" %}
     {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th style="font-size: 10px;">vendredi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "vendredi" %}
      {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th style="font-size: 10px;">samedi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "samedi" %}
     {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td></td> 
    {% elseif detail.matiere != NULL  %}

         <td style="font-size: 12px;"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></td> 
        {% else %}
        <td style="font-size: 12px;"> <label  > {{ detail.autre }}   <label/>  </td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>


     
    </table>
     <p style="margin-left: 450px; margin-bottom: 0px">المرسل اليهم</p>
 <p style="margin-left: 250px; margin-bottom: 0px">أمير اللواء رئيس اركان جيش الطيران(كرد خير) </p>
 <p style="margin-left: 170px; margin-bottom: 0px">السيد العميد مدير التعليم العالي العسكري والبحث العلمي </p>
 <p style="margin-left: 420px; margin-bottom: 0px"> نشرة داخلية عامة </p>

   <table class="table table-bordered text-center">
   <tr><td> <p style="text-align:center;font-size: 13px;"> العميد حمودة بسيس آمر مدرسة الاختصاصات الجوية </p>   </td><td> <p style="text-align:center; font-size: 13px;">المقدم نادر المصمودي مدير الدراسات</p></td></tr>
  
   </table>    
</div>
</body>
</html>


