
 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        </head>
        <body>
<table class="table  text-right" border="0">
    <tr>
       
            <td>   Emploi des Temps   </td>
            <td>      Ministère de la Défense nationale   </td>
       
    </tr>
    <tr>
     
            <td></td>
      <td>  L'Armée de l'Air tunisienne  </td>
   
    </tr>
    <tr>
     <td></td>
            <td>{{ emploi.datefin |date('Y/m/d') }}&nbsp; &nbsp; &nbsp;{{ emploi.dateDebut |date('Y/m/d') }}</td> </tr>
        <tr>   <td></td>  <td> niveau : licence Appliquée    </td> </tr>
     
   
    <tr>
       
            <td></td>
            <td>    Branche  :     {{ emploi.classe}} </td>
       
    </tr>
    <tr>       <td></td>
            <td> Nombre des élèves : {{ emploi.classe.nbeleve }}</td>

 
    </tr>




        <tr>
    
            <td> De &nbsp; {{ emploi.dateDebut | date('d/m/Y') }}&nbsp; &nbsp;  Au  &nbsp; &nbsp; {{ emploi.datefin |date('d/m/Y') }}</td> </tr>
    <tr>
</table>
   
<br><br><br>
<div ><table class="table table-bordered text-center" border="1">
        <tr> <th></th>
        <th>08:05 -> 09:35</th>
        <th>09:50 -> 11:20</th>
        <th>11:25 -> 12:55</th>
        <th>13:45 -> 15:15</th>
        <th>15:25 -> 16:55</th>
        
      
         
            
           
        </tr>
<tr>
   <th>lundi</th>    
        {% for detail in emploi.detailsEmplois %}


 {% if detail.seance.jour == "lundi" %}
    {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>

<tr>
     <th>mardi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "mardi" %}
    {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th>mercredi</th>  
{% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "mercredi" %}

    {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}

{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th>jeudi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "jeudi" %}
    {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th>vendredi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "vendredi" %}
     {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>
 <tr>
     <th>samedi</th>  
        {% for detail in emploi.detailsEmplois %}



 {% if detail.seance.jour == "samedi" %}
    {% if detail.matiere == NULL and  detail.autre == NULL  %}
         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"></a></td> 
    {% elseif detail.matiere != NULL  %}

         <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"><label  > {{ detail.matiere }}</label> <br><label  > {{ detail.NbHeureR }}/{{ detail.matiere.NhTotal }}  <label/><label  > {{ detail.enseignant }}   <label/></a></td> 
        {% else %}
        <td><a  href="/?action=edit&entity=DetailsEmploi&menuIndex=10&submenuIndex=1&sortField=id&sortDirection=DESC&page=1&referer=%252F%253Faction%253Dlist%2526entity%253DDetailsEmploi%2526menuIndex%253D10%2526submenuIndex%253D1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{ detail.id }}"> <label  > {{ detail.autre }}   <label/>  </a></td> 

    {% endif %}
{% endif %}



{% endfor %} 

 </tr>


     
    </table>
     
       
</div>
</body>
</html>


